* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #5995DA;
  /* Blue */
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-container .menu {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-container .menu .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-container .menu .link .login {
  margin-left: 20px;
}

.menu-container .menu .link .signup {
  margin-left: auto;
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container .header {
  width: 900px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .header .social, .header-container .header .subscribe {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 20px;
}

.photo-grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo-grid-container .photo-grid {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo-grid-container .photo-grid .photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}

.photo-grid-container .photo-grid .first-item {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.photo-grid-container .photo-grid .last-item {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer .footer-one, .footer .footer-three {
  background-color: #5995DA;
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
  width: 300px;
}
/*# sourceMappingURL=style.css.map */